@media (max-width: 767px) {
    .center{
    padding-left: 16px;
    padding-right: 16px;}

.header{
    height: 735px; 
    background-image: url(img/headerback-mobile.jpg);
    }
.header__block{
    padding-top: 239px;
    padding-bottom: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.heading_big{
    width: 343px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.heading_s{
    width: 100vw;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 36px;
}
.choice{
    display: flex;
    flex-wrap: wrap;
}

.option{
    width: 100vw;
    padding-left: 15px;
            &1{
        background-image: url(img/option1-mobile.jpg);
       
          }
    &2{
        background-image: url(img/option2-mobile.jpg);
      
    }
    &3{
        background-image: url(img/option3-mobile.jpg);
   
    }
}
.heading{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.game1{
    height: 603px;
    text-align: center;
    padding-top: 52px;
    padding-bottom: 0;

}
.img{
    width: 344px;
    height: 236px;
    left:0;
    bottom: 0;
    top: 59px;
}
.img__block{
    position: relative
}
.game2{
    padding-top: 49px;
    text-align: center;
    &__block{
          padding-left: 0;
    text-align: center;  
    }
    &__button{
        margin-left: 0;
    }
}
.img2{
    width: 344px;
    height: 236px;
    left:0;
    bottom: 0;
    top: 59px;
}
}

@media (max-width: 375px) {
.header__block{
    
    flex-wrap: wrap;
    align-content: flex-start;
 
}
    .heading_s{
        width: 343px;
    }
    .option{
        width: 343px;
    }
    .game2{
        padding-bottom: 141px;
        }
        .choice{
            padding-left: 14px;
            padding-right: 14px;
        }

}